    html {
        background-color: rgb(208, 231, 210);
      }
      
      .heading{
        background-image: linear-gradient(rgb(40, 112, 1),green,rgb(5, 162, 8));
        border: ridge 1px white;
      }
      
      .logo,.Buttons {
        position: relative;
        display: flex;
        justify-content: center;
      }

      #ad,#nb,#ob,#sl,#gy,#cr{
        position: relative;
        width:200px ;
        background-image: linear-gradient(rgb(74, 194, 9),rgb(8, 206, 8),rgb(11, 196, 14));
        border:1px solid black;
        border-radius: 10px;
        margin-left: 5px;
        font-size: 1em;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      #ad:hover{
        background-image: liear-gradient (rg);
        cursor: pointer;
      }

      #LUcator{
        position: relative;
        height: 100px;
        width: 150px;
        border-radius: 100%;
        border: black 1px solid;
        margin: 10px;
      }
    
      #map {
          position: relative;
          height: 100vh;
          width: auto;
          background-color: rgba(0, 0, 0, 0.351);
          border: 2px solid rgb(97, 130, 100);
          display: flex;
          align-items: center;
          justify-content: center;          
      }
    

  