html{
  background-color:green
}

/*!SIDEBAR!*/
.sidebar {
  height: 100%;
  width: 0;
  z-index: 5 !important;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 90%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Trebuchet MS';
  font-weight: bold;  
}

/* Style the sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.2s;
}

/* On mouse-over, add a grey background color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
#main {
  transition: margin- .5s;
  padding: 0;
}

/* Style the hamburger button */
.hamburger {
  font-size: 15px ;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 5px 10px !important;
  border: none;
  border-radius: 15px !important;
  position: sticky;
  top: 10px !important; 
  right: 20px !important;
  border: 2px solid white; 
  z-index: 3 !important;
  position: absolute;
}

.hamburger:hover {
  background-color: darkgreen;
}

#mySidebar {
  z-index: 2;
  position: fixed !important;
}

/*? MAP ?*/
#map {
  position: absolute !important;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 0;
  z-index: 1;
  top: 0;
  background-color: rgb(250, 250, 250);
}

/*? ABOUT ?*/
/*Socials */
footer{
    background-color: green !important;
    font-size: 100%;
}
.footerContainer{
    width: 100%;
    padding: 30px 20px 10px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: green;
    opacity: 0.9;
}

/* Hover Effects on social media icons */
.socialIcons a:hover{ 
     background-color: greenyellow;
     transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transform: 0.5s;
}

.footerNav{
    margin: 10px 0;
}

.footerNav ul{ 
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

/**Footer**/
body {
  background-color: green;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Add this style to the footer to make it sticky at the bottom */
footer {
  background-color: green !important;
  margin-top: auto;
}

.footerContainer {
  width: auto;
  height: 5px;
  padding: 30px 20px 10px;
  z-index: -2;

}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding-top: 20px;
  background-color: green;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}

/* Hover Effects on social media icons */
.socialIcons a:hover { 
  background-color: greenyellow;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transform: 0.5s;
}

.footerNav {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 0.1px;
  font-size: 100%;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  height: 0.1px;
  font-size: 20px;

}

/*! Search Bar */

.container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-weight: bold;
  text-align: center !important;
  position: relative !important;
  justify-content: center !important;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  max-height: 150px;
  z-index: 5;
  max-height: 100%;
}

#logo {
  height: 6%;
  width: 6%;
  position: static;
}

#sg {
  opacity: 70%;
}

#cator {
  font-size: 75%;
  color: black;
  text-shadow: white 3px 3px 3px;
}

#ulo {
  top: 0;
  margin-bottom: 10px;
  font-size: 200%;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: gold 5px 3px 3px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

#output {
  height: 1rem;
  resize: none;
  margin: 0px;
  max-width: 300px;
  border-radius: 10px;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-weight: 550;
}

#strbtn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  border-radius: 10px;
  height: 30px;
  z-index: 1;
  background-color: transparent;
  border: none;
}

#srchbtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}
#srchbtn:active, #strbtn:active {
  color:green;
}


