body{
  background-color: transparent;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(55, 128, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Style the sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.2s;
  
}

/* On mouse-over, add a grey background color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
#main {
  transition: margin- .5s;
  padding: 0;
}

/* Style the hamburger button */
.hamburger {
  font-size: 15px;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: 10px; 
  right: 20px;
  border: 2px solid white; 
}

.hamburger:hover {
  background-color: darkgreen;
}

#map {
  position:absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.351);
}

#mySidebar {
  z-index: 2;
  position: fixed !important;
}

#logo{
  height: 5%;
  width: 5%;
}

/*Socials */
footer{
    background-color: green;
}
.footerContainer{
    width: 100%;
    padding: 30px 20px 10px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: green;
    opacity: 0.9;
}

/* Hover Effects on social media icons */
.socialIcons a:hover{ 
     background-color: greenyellow;
     transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transform: 0.5s;
}

.footerNav{
    margin: 10px 0;
}

.footerNav ul{ 
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}
