    html {
      scrollbar-base-color: green;
    }
      
      .heading{
        background-image: linear-gradient(rgb(40, 112, 1),green,rgb(5, 162, 8));
        border: ridge 1px white;
      }
      
      .logo{
        display: grid;
        justify-content: center;
      }
      .Buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Make it responsive */
        gap: 10px; /* Add spacing between buttons */
      }
      
      #ad,
      #nb,
      #ob,
      #sl,
      #gy,
      #cr {
        width: 100%; /* Make buttons take up full width of their container */
        max-width: 200px; /* Add a max-width to prevent buttons from becoming too wide */
        height: auto;
        background-image: linear-gradient(rgb(74, 194, 9), rgb(8, 206, 8), rgb(11, 196, 14));
        border: 1px solid black;
        border-radius: 10px;
        font-size: 70%;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0 auto; /* Center the buttons horizontally */
      }

      #LUcator{
        position: relative;
        height: 100px;
        width: auto;
        border-radius: 100%;
        border: black 1px solid;
        margin: 10px;
        
      }
    
      #map {
          position: relative;
          height: 100vh;
          width: auto;
          background-color: rgba(0, 0, 0, 0.351);
          border: 2px solid rgb(97, 130, 100);
          display: flex;
          align-items: center;
          justify-content: center;          
      }
    

  
